html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#header {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: ". mm .";
}

#menu-container {
    grid-area: mm;
    display: grid;
    height: min-content;
    grid-template-columns: 10% 15% 75%;
    grid-template-areas: "l . m";
}

#logo {
    grid-area: l;
    overflow: hidden;
}

#logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu {
    grid-area: m;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(7, auto);
    grid-template-areas: "cc os ab bl je hp la";
}

.menu-item {
    color: #fc94a8;
    font-family: Montserrat, Sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1em;
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 1px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 75px;
    background-color: white;
    z-index: 9999;
}

.dropdown-menu-item {
    color: #fc94a8;
    font-family: Montserrat, Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 1px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu li {
    margin: 20px;
}

#content-catalog {
    grid-area: cc;
}

#our-solutions {
    grid-area: os;
}

#about {
    grid-area: ab;
}

#blog {
    grid-area: bl;
}

#hiring-partners {
    grid-area: hp;
}

#join-elevation {
    grid-area: je;
}

#languages {
    grid-area: la;
}

.space {
    height: 150px;
}

#section-1 {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: ". sc .";
    height: 400px;
}

#swap-container {
    grid-area: sc;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "st sw";
}

#static-part {
    grid-area: st;
    font-family: Montserrat, Sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    max-height: 400px;
    padding: 10px;
}

#swap-part {
    grid-area: sw;
    background-color: #fdf6f8;
}

.slide {
    font-family: Montserrat, Sans-serif;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
            "quote quote"
            "person pname";
}

.quote {
    letter-spacing: 1px;
    max-height: 400px;
    padding: 30px;
}

.person {
    margin-left: 30px;
    grid-area: person;
    display: grid;
    overflow: hidden;
    grid-template-areas: "pimg pinfo";
}

.person-image {
    grid-area: pimg;
}

.person-name {
    grid-area: pname;
}

.person img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.person-name p {
    font-weight: bold;
}

#academy {
    grid-area: ac;
    font-size: 60px;
    margin: 0;
}

#solve {
    grid-area: so;
    font-size: 25px;
}

#talkBtn {
    grid-area: tb;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #fc94a8;
    border: none;
    width: 150px;
    height: 75px;
    border-radius: 50px;
    color: white;
    padding: 10px;
}

#partners-and-customers {
    font-family: "Montserrat", Sans-serif;
    text-align: center;
    padding: 35px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(5, auto);
    grid-template-areas:
            ". . prt . ."
            ". . lr1 . ."
            ". . lr2 . ."
            ". . lr3 . .";
}

#partners {
    grid-area: prt;
}

#label-row-1 {
    grid-area: lr1;
    display: grid;
    overflow: hidden;
    grid-template-columns: 20% repeat(9, auto) 20%;
    grid-template-areas:
            ". google wix monday facebook aws verbit auto1 apx mazars .";
}

#label-row-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#google {
    grid-area: google;
}

#wix {
    grid-area: wix;
}

#monday {
    grid-area: monday;
}

#facebook {
    grid-area: facebook;
}

#aws {
    grid-area: aws;
}

#verbit {
    grid-area: verbit;
}

#auto1 {
    grid-area: auto1;
}

#apx {
    grid-area: apx;
}

#mazars {
    grid-area: mazars;
}

#label-row-2 {
    grid-area: lr2;
    display: grid;
    overflow: hidden;
    grid-template-columns: 20% repeat(9, auto) 20%;
    grid-template-areas:
            ". novartis merck ey marley-spoon hello-fresh basf jpmorgan bezeq iia .";
}

#label-row-2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#novartis {
    grid-area: novartis;
}

#merck {
    grid-area: merck;
}

#ey {
    grid-area: ey;
}

#marley-spoon {
    grid-area: marley-spoon;
}

#hello-fresh {
    grid-area: hello-fresh;
}

#basf {
    grid-area: basf;
}

#jpmorgan {
    grid-area: jpmorgan;
}

#bezeq {
    grid-area: bezeq;
}

#iia {
    grid-area: iia;
}

#label-row-3 {
    grid-area: lr3;
    display: grid;
    overflow: hidden;
    grid-template-columns: 20% repeat(9, auto) 20%;
    grid-template-areas:
            ". tasc saatchi ness joint leumi hapoalim macabi israel uae .";
}

#label-row-3 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#tasc {
    grid-area: tasc;
}

#saatchi {
    grid-area: saatchi;
}

#ness {
    grid-area: ness;
}

#joint {
    grid-area: joint;
}

#leumi {
    grid-area: leumi;
}

#hapoalim {
    grid-area: hapoalim;
}

#macabi {
    grid-area: macabi;
}

#israel {
    grid-area: israel;
}

#uae {
    grid-area: uae;
}

#section-2 {
    background-color: #f3f7fb;
}

#video-container {
    background-color: #0f2441;
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    grid-template-areas: ". video .";
    height: 500px;
}

#video {
    grid-area: video;
    display: flex;
    justify-content: center;
    align-items: center;
}

#information-section {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: ". eh .";
}

#enhance {
    grid-area: eh;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
}

#enhance h1 {
    font-size: 50px;
}

#enhance h3 {
    font-size: 30px;
    color: #fc94a8;
}

#carousel-container {
    display: grid;
    grid-template-columns: 20% repeat(3, 1fr) 20%;
    grid-gap: 15px;
    grid-template-areas: ". cs1 cs2 cs3 .";
    height: 300px;
}


#c-s-1 {
    grid-area: cs1;
}

#c-s-2 {
    grid-area: cs2;
}

#c-s-3 {
    grid-area: cs3;
}

.carousel-section {
    background-color: white;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
}

.c-s-img {
    max-height: 65px;
}

.c-s-img img {
    padding-top: 10px;
    object-fit: cover;
}

#btn-section {
    display: grid;
    grid-gap: 10px;
    height: 100px;
    grid-template-columns: 20% repeat(4, auto) 20%;
    grid-template-areas: ". vdc vrdc vdmc vtc .";
}

#view-data-catalog {
    grid-area: vdc;
    background-color: #0f213a;
}

#view-rd-catalog {
    grid-area: vrdc;
    background-color: #fd95a9;
}

#view-dmarketing-catalog {
    grid-area: vdmc;
    background-color: #247dfd;
}

#view-talent-catalog {
    grid-area: vtc;
    background-color: #a8b7d2;
}

.btn {
    border: none;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    border-radius: 50px;
}

.btn a {
    text-decoration: none;
    color: white;
}

#section-3 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
            ". pt ."
            ". cus ."
            ". re .";
}

#progress-tree {
    grid-area: pt;
}

#contact-us-section {
    grid-area: cus;
}

#resources-events {
    grid-area: re;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
}

#resources-events h2 {
    font-size: 35px;
    font-weight: bold;
}

#resources-events span {
    font-size: 35px;
    font-weight: bold;
    color: #fc94a8;
}

#resources-events h3 {
    font-size: 25px;
    font-weight: bold;
    color: #fc94a8;
}

#r-e-img {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "re1 re2 re3";
    height: 300px;
}

#r-e-img1 {
    grid-area: re1;
    max-height: 165px;
    overflow: hidden;
}

#r-e-img2 {
    grid-area: re2;
    max-height: 165px;
    overflow: hidden;
}

#r-e-img3 {
    grid-area: re3;
    max-height: 165px;
    overflow: hidden;
}