#section-2 {
    background-color: #f3f7fb;
}

.video-container {
    background-color: #0f2441;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: ". video .";
    height: 500px;
}

.video {
    grid-area: video;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-section {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: ". eh .";
}

.information-section-header {
    grid-area: eh;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
}

.information-section-header h1 {
    font-size: 50px;
    color: #0f213a;
    letter-spacing: 0.3px;
    margin: 0;
}

.information-section-header h3 {
    font-size: 30px;
    color: #fc94a8;
    letter-spacing: 0.3px;
    padding: 15px 0px 50px 0px;
    margin: 0;
}

.carousel-container {
    display: grid;
    grid-template-columns: 20% repeat(3, 1fr) 20%;
    grid-gap: 15px;
    grid-template-areas: ". cs1 cs2 cs3 .";
    height: 400px;
}

#carousel-section-1 {
    grid-area: cs1;
}

#c-s-2 {
    grid-area: cs2;
}

#c-s-3 {
    grid-area: cs3;
}

.carousel-section {
    background-color: white;
    text-align: center;
}

.carousel-section-img {
    max-height: 65px;
}

.carousel-section-img img {
    padding-top: 10px;
    object-fit: cover;
}

.carousel-section-text {
    color: #0f213a;
    font-family: "Assistant", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.carousel-section-text h4 {
    line-height: 1.2em;
    font-weight: normal;
    font-size: 20px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #7a8Cad;
}

.button-section {
    display: grid;
    grid-gap: 10px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 20% repeat(4, auto) 20%;
    grid-template-areas: ". vdc vrdc vdmc vtc .";
}

#view-data-catalog {
    grid-area: vdc;
    background-color: #0f213a;
}

#view-data-catalog:hover {
    background-color: #596c98;
}

#view-rd-catalog {
    grid-area: vrdc;
    background-color: #fd95a9;
}

#view-rd-catalog:hover {
    background-color: #ffbdc9;
}

#view-dmarketing-catalog {
    grid-area: vdmc;
    background-color: #247dfd;
}

#view-dmarketing-catalog:hover {
    background-color: #7fb1fa;
}

#view-talent-catalog {
    grid-area: vtc;
    background-color: #a8b7d2;
}

#view-talent-catalog:hover {
    background-color: #bcbec2;
}
